<h1 class="background-title"><%= t("listing.audios") %></h1>
<%= link_to t("title.new_audio"), new_audio_path if current_user.present? %>



<% @audios.each do |t|%>

  <div class="box_container full-width span7">
    <div class="favourites">
      <%#= link_to "add to favourites",add_favourite_path(t.class,t.id), :remote => true %>
      <%#= favourite_button(t) if current_user.present? %>
    </div>
    <div class="name">

      <h2> <%= link_to t.title,audio_url(t.id) %></h2>
    </div>
    <div id="audio-player">
      *Pending: This is for the audio player preview
    </div>

    <div class="description">
      <%= t.description  %>
    </div>
    <div class="start-end-date">
      <%= t.date %>
    </div>
   <div style="background-color: #E89BB6">
      <%= t.tag_list {|t| t} %>
   </div>

  </div>
  
  
<% end %>


<br/>


