<div  id="single-asset" class="span7 ofsset1">
  
  <p id="notice"><%= notice %></p>

<p>

  <b><%= t"global.cycle" %></b>
  <h1><%= @cycle.title %></h1>

</p>
 <%= favourite_button(@cycle) if current_user.present? %>

<p>
  <b><%=  t("metadata.start_date") %>:</b>
  <%= @cycle.start_date %>
</p>

<p>
  <b><%=  t("metadata.end_date") %>:</b>
  <%= @cycle.end_date %>
</p>

<p>
  <b><%=  t("metadata.description") %>:</b>

  <%= @cycle.description %>
</p>

<p>
  <b>Tags:</b>
  <div style="background-color: #E89BB6">
      <%= @cycle.tag_list {|t| t} %>
  </div>
</p>


<p>
  <b>Associated events:</b>
 <ul>
  <% @cycle.events.each  do |event|  %>
    <li><%= link_to event.title, event %></li>
    <% end %>
  </ul>

</p>

<%= link_to t("link.edit"), edit_cycle_path(@cycle) %> |
<%= link_to t("link.back"), cycles_path %>

</div>
