<div  id="single-asset" class="span7 ofsset1">
<p id="notice"><%= notice %></p>

<p>


  <b><%= t"global.video" %></b>
  <h1><%= @video.title %></h1>

</p>
 <%= favourite_button(@video) if current_user.present? %>

<p>
  <b><%=  t("metadata.start_date") %>:</b>
  <%= @video.date %>
</p>

<p>
  <b><%=  t("metadata.description") %>:</b>
  <%= @video.description %>
</p>

<p>
  <b><%= t("metadata.license") %>:</b>
  <%= @video.license %>
</p>

<p>
  <b><%=  t("metadata.format") %>:</b>
  <%= @video.format %>
</p>

<p>
  <b><%=  t("metadata.duration") %>:</b>
  <%= @video.duration %>
</p>

<p>
  <b><%=  t("metadata.language") %>:</b>
  <%= @video.language %>
</p>

<p>
  <b>Tags:</b>
  <div style="background-color: #E89BB6">

      <%= @video.tag_list {|t| t} %>
  </div>
</p>


<p>
  
<%= link_to t("link.edit"), edit_video_path(@video) %> |
<%= link_to t("link.back"), videos_path %>

</p>
</div>
