<h1><%= t("listing.events") %></h1>
<%= link_to t("title.new_event"), new_event_path if current_user.present?%>


<% @events.each do |t|%>

  <div class="box_container full-width span7">
    <div class="favourites">
      <%#= link_to "add to favourites",add_favourite_path(t.class,t.id), :remote => true %>
      <%#= favourite_button(t) if current_user.present? %>
    </div>
    <div class="name">
      <%= link_to t.title,event_url(t.id) %>
    </div>   
    <div class="description">
      <%= t.description  %>
    </div>
    <div class="start-end-date">
      <%= t.date %><%= t.time %>
    </div>
    <div>
     <% if t.cycles.nil? %>  
    <td><%= link_to t.cycle.title, t.cycle %></td>
    <% end %>
  </div>
   <div style="background-color: #E89BB6">
    <%= t.tag_list {|t| t} %>
   </div>


  </div>
<% end %>



<br />

