<div  id="single-asset" class="span7 ofsset1">

  <%= form_for(@photo) do |f| %>
    <% if @photo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
        <ul>
         <% @photo.errors.full_messages.each do |msg| %>
         <li><%= msg %></li> 
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label t("metadata.title") %><br />
      <%= f.text_field :title %>
    </div>
      <div class="field">
        <%= f.label t("metadata.date") %><br />
        <%= f.datepicker :date, :dateFormat => "yy-mm-dd" %> 
      </div> 
    <div class="field">
      <%= f.label t("metadata.description") %><br />
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label t("metadata.license") %><br />
      <%= f.text_field :license %>
    </div>
    <div class="field">
      <%= f.label t("metadata.format") %><br />
      <%= f.text_field :format %>
    </div>
      <div class="field">
        hola
      <%= f.label t("metadata.image") %><br />
      <%= f.file_field :image %>
    </div>

  <div class="field" style="background-color: #E89BB6">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.text_field :tag_list %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
