<h1 class="background-title"><%= t("listing.photos") %></h1>
<%= link_to t("title.new_photo"), new_photo_path if current_user.present? %>



<% @photos.each do |t|%>

  <div class="box_container">
    <div class="name">
      <%= link_to t.title,photo_url(t.id) %>
    </div>
    <div class="favourites">
    <%#= link_to "add to favourites",add_favourite_path(t.class,t.id), :remote => true %>
    <%#= favourite_button(t) if current_user.present? %>
    
    </div>
    <div class="image">
      <%= link_to(image_tag(t.image),photo_url(t.id))  if t.image.present? %>
    </div>
   <div style="background-color: #E89BB6">
    <%= t.tag_list {|t| t} %>
   </div>

  </div>
  
  
<% end %>

